<section class="bottom">
    <section class="attribution">
        <a href="http://github.com/Reedyn/Saga">{{{t "Built with {heart} and Free & Open-Source Software" heart="<i class=\"heart\"></i>"}}}</a>.
    </section>
</section>
