<section class="bottom">
    <section class="attribution">
        <a href="mailto:tobias@wilhelm.digital">{{{t "Built with {heart} in Coburg" heart="<i class=\"heart\"></i>"}}}</a>.
    </section>
</section>
